body{
    background-color: #FFF7AE;
}



button, .link {
    font-family: font-family: 'Crimson Text', serif;
    font-family: 'Montserrat', sans-serif;
    Background-color: #CB9173;
    border: none;
    color: #320A28;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}


nav{
    background-color: #3d315b;
}


footer{
    background-color: #3d315b;
}

 video{
    
  position: fixed;
  left: 0;
  bottom: ;
  width: 100%;
  height: 92%;
    
}